.container{
    display: inline-flex;
    padding-left: 900px;
    margin: 30px;
    
}
 .row {
    
   padding: 20px ;
    
}
.row .def1
{
    padding: 10px 30px;
}
.row .def2
{
    padding: 10px 30px;

}
.row .def3
{
    padding: 10px 30px;
   
}
.btn{
    padding: 10px 20px;
    border: round;
    background: darkcyan;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: crimson;
}